* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: dashed crimson;
    border-top-width: 5px;
    border-right: 10px dotted blue;
    font-size: 1.5rem;
    margin: 1.5rem;
    padding: 1.5rem;
}